*.ppj
*.code-workspace
interface/exported/widgets/WhisperModeWidget - Copy (2).swf
interface/exported/widgets/WhisperModeWidget - Copy.swf
.vscode/launch.json
.vscode/tasks.json
SkyrimNetStatusWidget-v1.0.zip
